<%- include('../includes/head.ejs')%> <%-
include('../includes/navigation.ejs')%>
<main class="columns is-centered mt-4">
  <form action="/admin/add-product" method="POST" class="box card p-6">
    <div>
      <label for="title" class="label">Title</label>
      <div class="control">
        <input type="text" name="title" class="input" />
      </div>
    </div>
    <div class="control">
      <button class="button is-link" type="submit">Add Product</button>
    </div>
  </form>
</main>
<%- include('../includes/end.ejs')%>
