<%- include('../includes/head.ejs')%> <%-
include('../includes/navigation.ejs')%>
<main class="columns is-centered mt-4">
  <form
    action="/admin/add-product"
    method="POST"
    class="column is-half card p-6"
  >
    <div class="field">
      <label for="title" class="label">Title</label>
      <div class="control">
        <input type="text" name="title" id="title" class="input" />
      </div>
    </div>
    <div class="field">
      <label for="imageUrl" class="label">Image URL</label>
      <div class="control">
        <input type="text" name="imageUrl" id="imageUrl" class="input" />
      </div>
    </div>
    <div class="field">
      <label for="price" class="label">Price</label>
      <div class="control">
        <input
          type="number"
          name="price"
          id="price"
          class="input"
          step="0.01"
        />
      </div>
    </div>
    <div class="field">
      <label for="description" class="label">Description</label>
      <div class="control">
        <textarea
          name="description"
          id="description"
          rows="5"
          class="textarea"
        ></textarea>
      </div>
    </div>
    <div class="control">
      <button class="button is-link" type="submit">Add Product</button>
    </div>
  </form>
</main>
<%- include('../includes/end.ejs')%>
