<form method="POST" class="columns is-desktop is-vcentered" action="/cart">
  <button type="submit" class="button is-link is-light has-background-white">
    Add to Cart
  </button>
  <input type="hidden" name="productId" value="<%= product.id %>" />
</form>
