<nav class="navbar is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="/" class="navbar-item">
      <span class="has-text-weight-bold">MyShop</span>
    </a>
    <a
      class="navbar-burger"
      role="button"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbar"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" id="navbar">
    <div class="navbar-start">
      <a href="/" class="navbar-item">Shop</a>
      <a href="/products" class="navbar-item">Products</a>
      <% if (isAuth) { %>
      <a href="/cart" class="navbar-item">Cart</a>
      <a href="/orders" class="navbar-item">Orders</a>
      <a href="/admin/add-product" class="navbar-item">Add Product</a>
      <a href="/admin/products" class="navbar-item">Admin Products</a>
      <% } %>
    </div>
    <div class="navbar-end">
      <% if (isAuth) { %>
      <form
        action="/logout"
        method="POST"
        class="columns is-desktop is-vcentered mr-1"
      >
        <button type="submit" class="is-link has-background-black button">
          Logout
        </button>
      </form>
      <% } else { %>
      <a href="/login" class="navbar-item">Login</a>
      <% } %>
    </div>
  </div>
</nav>
