extends layouts/main-layout.pug

block content
  main.columns.is-centered.mt-4
    form.box.card.p-6(action="/admin/add-product", method="POST")
      .field
        label.label Title
        .control 
          input.input(type="text", name="title") 
      .control
        button.button.is-link(type="submit") Add Product