<main class='container mt-4'>
  {{#if hasProducts}}
    <div class='columns is-multiline'>
      {{#each prods}}
        <div class='column is-one-third'>
          <div class='card'>
            <div class='card-image'>
              <figure class='image is-1by1'>
                <img
                  src='https://media.gq.com/photos/5ad64204c8be07604e8b5f2f/1:1/w_1332,h_1332,c_limit/21-books-GQ-April-2018-041718-3x2.jpg'
                  alt='Product image'
                />
              </figure>
            </div>
            <div class='card-content'>
              <p class='title is-4'>{{this.title}}</p>
              <p>It's very interesting book</p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    <h1 class='is-size-1'>No Products.</h1>
  {{/if}}
</main>