extends layouts/main-layout.pug

block content
  main.container.mt-4
    if prods.length > 0
      .columns.is-multiline
        each product of prods
          .column.is-one-third
            .card
              .card-image
                figure.image.is-1by1
                  img(src="https://media.gq.com/photos/5ad64204c8be07604e8b5f2f/1:1/w_1332,h_1332,c_limit/21-books-GQ-April-2018-041718-3x2.jpg", alt="Product image")
              .card-content
                p.title.is-4 #{product.title}
                p It's very interesting book
    else
      h1.is-size-1 No Products.